:root{
    --task-color-red: #ff3535;
    --task-color-blue: #6289ff;
    --task-color-orange: #ff7901;
    --task-color-green:#55cb51;
    --task-color-yellow: #eed811;
    --task-color-purple: #994af1;
    --task-color-pink: #ff6dd7;
}