:root {
    /* BASE COLORS */
    --blue: #0979da;
    --light-blue: #218bff;
    --soft-red: #EB6060;
    --color-main-yellow: #EED811;

    /* CREATORS THEME COLORS */
    --default-bg-primary: #2c2b29;
    --default-accent-secondary: var(--blue) !important;
    --default-info: var(--light-blue) !important;
    --text-intense: #E0E0E0;

    /* DATA TYPE COLORS */
    --ims-type-boolean-stroke: #ff5757;
    --ims-type-boolean-fill: #d64848;
    --ims-type-float-stroke: #82ff57;
    --ims-type-float-fill: #75d255;
    --ims-type-integer-stroke: #57f6ff;
    --ims-type-integer-fill: #4ad6de;
    --ims-type-string-stroke: #ff57d8;
    --ims-type-string-fill: #ef53ca;
    --ims-type-text-stroke: #f7aece;
    --ims-type-text-fill: #eb83b0;
    --ims-type-asset-stroke: #ffb957;
    --ims-type-asset-fill: #f0af55;
    --ims-type-any-stroke: #fff;
    --ims-type-any-fill: #555555;
    --ims-type-any-custom: #CCC;
    --ims-type-selection-stroke: #b26802;
    --ims-type-selection-fill: #834c00;
    --ims-type-enum-stroke: #1dce9f;
    --ims-type-enum-fill: #149472;
    --ims-type-struct-stroke: #76b1ff;
    --ims-type-struct-fill: #358dff;
    --ims-type-date-stroke: #c19beb;
    --ims-type-date-fill: #b683eb;
    --ims-type-file-stroke: #f2eb9f;
    --ims-type-file-fill: #e3d530;
}

/* Creators theme setting */