:root {
    /* BASE COLORS */
    --blue: #0979da;
    --light-blue: #218bff;
    --soft-red: #EB6060;
    --color-main-yellow: #EED811;

    /* CREATORS THEME COLORS */
    --default-bg-primary: #2c2b29;
    --default-accent-secondary: var(--blue) !important;
    --default-info: var(--light-blue) !important;
    --text-intense: #E0E0E0;
}

/* Creators theme setting */