i {
  font-style: normal;
}
.dropdown-icon-delete:after {font-family: 'remixicon' !important;  content: "\EC2A";};
.dropdown-icon-copy:after {font-family: 'remixicon' !important;  content: "\ECD5";};
.dropdown-icon-edit:after {font-family: 'remixicon' !important;  content: "\EC80";};
.dropdown-icon-export:after {font-family: 'remixicon' !important;  content: "\F24A";};
.dropdown-icon-user:after {font-family: 'remixicon' !important;  content: "\F256";};
.dropdown-icon-notifications:after {font-family: 'remixicon' !important;  content: "\EF94";};
.dropdown-icon-lang:after {font-family: 'remixicon' !important;  content: "\EDCF";};
.dropdown-icon-exit:after {font-family: 'remixicon' !important;  content: "\EEDA";};
.dropdown-icon-inherited:after {font-family: 'remixicon' !important;  content: "\EFB8";};
.dropdown-icon-import:after {font-family: 'remixicon' !important;  content: "\EC54";}
.dropdown-icon-serviceName:after {font-family: 'remixicon' !important;  content: "\F023";}
.dropdown-icon-task:after {font-family: 'remixicon' !important;  content: "\F398";}
.dropdown-icon-link:after {font-family: 'remixicon' !important;  content: "\EEB2";}
.dropdown-icon-links:after {font-family: 'remixicon' !important;  content: "\EF90";}
.dropdown-icon-history:after {font-family: 'remixicon' !important;  content: "\EE17";}
.dropdown-icon-settings:after {font-family: 'remixicon' !important;  content: "\F0E6";}
.dropdown-icon-image:after {font-family: 'remixicon' !important;  content: "\EE4B";}
.dropdown-icon-video:after {font-family: 'remixicon' !important;  content: "\EEC0";}
.dropdown-icon-file:after {font-family: 'remixicon' !important;  content: "\ECEB";}
.dropdown-icon-archive:after {font-family: 'remixicon' !important;  content: "\EE4D";}
.dropdown-icon-unarchive:after {font-family: 'remixicon' !important;  content: "\EE51";}
.dropdown-icon-check:after {font-family: 'remixicon' !important;  content: "\EB7B";}
.dropdown-icon-close:after {font-family: 'remixicon' !important;  content: "\EB99";}
.dropdown-icon-fileCreate:after {font-family: 'remixicon' !important;  content: "\ECC9";}
.dropdown-icon-create:after {font-family: 'remixicon' !important;  content: "\EA13";}
.dropdown-icon-userUnfollow:after {font-family: 'remixicon' !important;  content: "\F278";}
.dropdown-icon-download:after {font-family: 'remixicon' !important;  content: "\EC5A";}
.dropdown-icon-run:after {font-family: 'remixicon' !important;  content: "\F00B";}
.dropdown-icon-newTab:after {font-family: 'remixicon' !important;  content: "\EA70";}
