@mixin loader-spinner {
  text-indent: -9999em;
  border-top: 0.15em solid var(--loader-spinner-color2);
  border-right: 0.15em solid var(--loader-spinner-color2);
  border-bottom: 0.15em solid var(--loader-spinner-color2);
  border-left: 0.15em solid var(--loader-spinner-color1);
  will-change: transform;
  -webkit-animation: loaderSpinner 1.1s infinite linear;
  animation: loaderSpinner 1.1s infinite linear;
  display: inline-block;
}