@use "./load-page-mixins";

.q-page{
  background-color: #363633 !important;
  color: #FFF;
}
.PageError{
  color: var(--color-main-error);
  margin: auto;
}

.PageLoaderSpinner{
  font-size: 60px !important;
  --loader-spinner-color1: #fff !important;
  --loader-spinner-color2: #363633 !important;
  margin: auto !important;
}

:root{
  --loader-spinner-color1: #ffffff;
  --loader-spinner-color2: rgba(255, 255, 255, 0.2);
}

.loaderFade {
  animation: loaderFade 1.5s infinite;
  cursor: wait;
  & > *{
    pointer-events: none;    
  }
}

.loaderSpinner,
.loaderSpinner:after {
  border-radius: 50%;
  width: 1em;
  height: 1em;
}
.loaderSpinner {
    position: relative;
    @include load-page-mixins.loader-spinner
}
@keyframes loaderSpinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loaderFade {
  0% {
    opacity: 0.7
  }
  50% {
    opacity: 0.5
  }
  100% {
    opacity: 0.7
  }
}
  
  
.loaderBar,
.loaderBarFloat{
  --loader-bar-color1: rgba(238,216,17,1);
  --loader-bar-color2: rgba(238,216,17,0);
  height: 2px;
  background: linear-gradient(90deg, var(--loader-bar-color2) 20%, var(--loader-bar-color1) 50%, var(--loader-bar-color2) 60%);
  width: 100%;
  background-size: 200% auto;
  background-position: 0 100%;
  animation: loaderBar  1.5s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.loaderBarFloat{
  margin-bottom: -2px;
}

.loaderBar-saving{
  position:absolute;
  top: 0;
  left:0;
  right:0;
}

@keyframes loaderBar {
  0%   { background-position: 0 0; }
  100% { background-position: -200% 0; }
}


.loaderDots {
  & > i {
    &::before {
      content: '.';
      display: inline-block;
    }
    &:nth-child(1)::before {
      animation: loaderDots-anim1 2s ease-in-out infinite;
    }
    &:nth-child(2)::before {
      animation: loaderDots-anim2 2s ease-in-out infinite;
    }
    &:nth-child(3)::before {
      animation: loaderDots-anim3 2s ease-in-out infinite;
    }
  }
}
@keyframes loaderDots-anim1 {
  0% {
    opacity: 0;
    transform: translateY(-0.1em);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loaderDots-anim2 {
  10% {
    opacity: 0;
    transform: translateY(-0.1em);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loaderDots-anim3 {
  20% {
    opacity: 0;
    transform: translateY(-0.1em);
  }
  30% {
    opacity: 1;
    transform: translateY(0);
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}