@use "./devices-mixins.scss";

@mixin tiny-scrollbars {
  &::-webkit-scrollbar {
    background-color: transparent;
    @include devices-mixins.device-type(not-pc) {
        width: 15px;
        height:15px;
    }
    @include devices-mixins.device-type(pc) {
        width: 6px;
        height: 6px;
    }
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-bg-color);
    border-radius: 8px;
  }
  &::-webkit-scrollbar-corner{
    background-color: transparent;
  }
}

@mixin large-scrollbars {
  &::-webkit-scrollbar {
    background-color: transparent;

    @include devices-mixins.device-type(not-pc) {
      width: 3px;
      height: 3px;
    }
    @include devices-mixins.device-type(pc) {
      width: 12px;
      height: 12px;
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-bg-color);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}